<footer id="main-footer">

	<div class="container text-center">

		<img class="img-responsive img-center footer-logo" src="" alt="" />

		<ul class="social-links">
			<li><a href="https://www.facebook.com/vitor.atair"><i class="fa fa-facebook fa-fw"></i></a></li>
			<li><a href="#link"><i class="fa fa-google-plus fa-fw"></i></a></li>
			<li><a href="https://www.linkedin.com/pub/vitor-atair/49/606/572"><i class="fa fa-linkedin fa-fw"></i></a></li>
		</ul>
		<p>&copy;vitoratair.com.br <a href="#" target="_blank">Vitor Atair</a></p>

	</div>

</footer>